@import "./variables.scss";
@import "./mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    font-family: "Recursive", sans-serif;
    background-image: url('../assets/background.gif');
}
.pokemon-app {
    .pokemon-head {
        // border: 1px solid red;
        @include flexLayout();
        flex-direction: column;
        justify-content: center;
        padding: 80px;
        padding-bottom: 0;
        img {
            width: 450px;
            // border: 1px solid red;
        }
    }
    .pokemon-body {
        // border: 1px solid red;
        display: grid;
        padding: 80px;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        .pokemon-card {
            // clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
            border-radius: 5px;
            box-shadow: 0 0 20px $mainBackground;
            background-color: $mainBackground;
            @include flexLayout();
            flex-direction: column;
            padding: 15px;
            color: white;
            transition: all 0.3s linear;
            cursor: pointer;
            &:hover {  
                clip-path: initial;
                @include boxShadow($mainBackground);
            }
            .img-container {
                background-image: url("../assets/blob.svg");
                background-position: center;
                background-repeat: no-repeat;
                img {
                    width: 140px;
                    padding: 5px;
                    transition: all 0.3s linear;
                    // border: 1px solid red;
                    &:hover {
                        transform: scale(1.4);
                    }
                }
            }
            .pokemon-id {
                font-weight: bold;
                color: black;
            }
            .pokemon-name {
                text-transform: uppercase;
                margin: 15px 0;
                @include textGradient(blue, blueviolet);
                font-family:fantasy;
                letter-spacing: 1px;
            }
            .type-container {
                @include flexLayout();
                p {
                    // margin: 15px;
                    font-weight: bold;
                    padding: 8px;
                    border-radius: 3px;
                    color: white;
                    text-transform: capitalize;
                    background-color: blueviolet;
                }
                p + p {
                    margin-left: 15px;
                }
                @for $i from 1 through length($classNameType) {
                    #{nth($classNameType,$i)} {
                        background-color: nth($backgroundType, $i);
                    }
                }
            }
        }
    }
    .pokemon-detail {
        position: fixed;
        background-color: white;
        inset: 15% 30px 30px 75%;
        border-radius: 5px;
        transform: translateX(100%);
        transition: all 0.8s ease-in-out;
        opacity: 0;
        z-index: 2;
        box-shadow: 0 0 10px white;
        
        .pokemon-card-detail {
            height: 100%;
            @include flexLayout();
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 10px;
            .img-container-detail {
                padding: 5px;
                position: absolute;
                left: 50%;
                top: -30px;
                transform: translate(-50%, -50%);
                img {
                    width: 100px;
                    transition: all 0.4s linear;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .pokemon-id-detail {
                font-size: 1.5em;
                margin-top: 20px;
                font-weight: bold;
                color: $colorId;
            }
            .pokemon-name-detail {
                font-size: 3em;
                text-transform: uppercase;
                @include textGradient(blue, blueviolet);
                font-family:fantasy;
                letter-spacing: 1px;
            }
            .type-container-detail {
                font-size: 1.6em;
                display: flex;
                p {
                    font-weight: bold;
                    padding: 8px;
                    border-radius: 3px;
                    color: white;
                    text-transform: capitalize;
                    background-color: blueviolet;
                }
                p+p {
                    margin-left: 15px;
                }
                @for $i from 1 through length($classNameType) {
                    #{nth($classNameType,$i)} {
                        background-color: nth($backgroundType, $i);
                    }
                }
            }
            .appearence {
                @include flexLayout();
                font-size: 1.6em;
                &__weight, &__height{
                    // margin: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                    border-radius: 4px;
                    background-color: rgb(18, 15, 202);
                    color: white;
                    font-weight: bold;
                    .height, .weight {
                        margin-top: 5px;
                    }
                }
                &__weight {
                    margin-left: 15px;
                }
            }
            .stats-list {
                // border: 1px solid red;
                @include flexLayout();
                flex-direction: column;
                border-radius: 4px;
                font-size: 12px;
                width: 100%;
                .stats-item {
                    font-weight: bold;
                    @include flexLayout();
                    .stats-head {
                        width: 30px;
                        // border: 1px solid red;
                        img {
                            width: 20px;
                        }
                    }
                    .stats-body {
                        width: 140px;
                        // border: 1px solid red;
                        &__content {
                            text-transform: capitalize;
                        }
                        &__progress {
                            padding: 8px;
                            width: 100%;
                        }
                    }
                }
                .stats-item+.stats-item {
                    margin-top: 4px;
                }
            }
        }
    }
    .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }
    .hide {
        display: none;
    }
    .loading {
        text-align: center;
        margin-bottom: 80px;
        .load-more {
            border: none;
            outline: none;
            padding: 15px 30px;
            background-color: $mainBackground;
            text-transform: uppercase;
            color: black;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            font-family: inherit;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 20px $mainBackground;
            font-size: 18px;
            &:hover {
                
                transform: scale(1.1);
                box-shadow: 0 0 5px $mainBackground, 0 0 20px $mainBackground, 0 0 40px $mainBackground, 0 0 60px $mainBackground;
            }
        }
    }
}
@include responsive_main_lg__ {
    .pokemon-app {
        // display: none;
        .pokemon-head {
            padding: 60px;
            padding-bottom: 0;
            img {
                width: 400px;
            }
        }
        .pokemon-body {
            padding: 60px;
        }
        .loading {
            margin-bottom: 60px;
        }
    }
}
@include responsive_main_md__ {
    .pokemon-app {
        // display: none;
        .pokemon-head {
            padding: 30px;
            padding-bottom: 0;
            img {
                width: 350px;
            }
        }
        .pokemon-body {
            padding: 30px;
            gap: 30px;
        }
        .pokemon-detail {
            inset: 15% 20px 20px 60%;
            .pokemon-card-detail {
                font-size: 9px;
                .img-container-detail {
                    img {
                        width: 90px;
                    }
                }
            }
        }
        .loading {
            margin-bottom: 30px;
        }
    }
}
@include responsive_main_sm__ {
    .pokemon-app {
        // display: none;
        .pokemon-head {
            padding: 20px;
            padding-bottom: 0;
            img {
                width: 300px;
            }
        }
        .pokemon-body {
            padding: 20px;
            gap: 20px;
        }
        .pokemon-detail {
            inset: 15% 20px 20px 55%;
        }
        .loading {
            margin-bottom: 20px;
        }
    }
}
@include responsive_main_xm__ {
    .pokemon-app {
        .pokemon-detail {
            inset: 15% 20px 20px 30%;
        }
    }
}
@include responsive_xxm {
    .pokemon-app {
        .pokemon-head {
            padding: 15px;
            padding-bottom: 0;
            img {
                width: 200px;
            }
        }
        .pokemon-body {
            padding: 15px;
            gap: 15px;
        }
        .pokemon-detail {
            inset: 15% 15px 15px 25%;
            .pokemon-card-detail {
                font-size: 8px;
                .pokemon-id-detail {
                    margin-top: 5px;
                }
            }
        }
        .loading {
            margin-bottom: 15px;
        }
    }
}